.dashboard-cards-articles {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;  
}

.no-underline {
    text-decoration:none;
    display: inline-block;
    font-weight: normal;
    padding-left: 0.5rem; 
}

.dashboard-cards {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.underlined-text{
    text-decoration: underline;
    font-weight: bold; 
    font-size: 16px;
}

.dashboard-text {
    font-size: 14px;
}