#card-container {
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(223, 221, 221);
    height: 100%; 
}

#card-box {
    width: 75%; 
    gap: 0.5rem; 
}