#articles-list-main-container {
    display: flex; 
    justify-content: center;
    background-color: rgb(223, 221, 221);
    height: 100%; 
}

#articles-list-container {
    width: 65%; 
    gap: 0.5rem; 
}

.dashboard-cards-articles {
    display: flex; 
    align-items:center; 
}

.left-p {
    margin-bottom: 0;
}