#contributers-list-main-container {
    display: flex; 
    justify-content: center;
    background-color: rgb(223, 221, 221);
    height: 100%; 
}

#contributers-list-container {
    width: 65%; 
    gap: 0.5rem; 
}

.no-underline {
    /* text-decoration:none; */
    display: inline-block;
    font-weight: normal;
    padding-left: 0.5rem; 
}

.dashboard-cards {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    padding: 0 2rem 0 2rem; 
}

.underlined-text{
    text-decoration: underline;
    font-weight: bold; 
    font-size: 16px;
}

.dashboard-text {
    font-size: 14px;
}

.sml-input {
    width: 300px; 
}

#form-div {
    display: flex; 
    justify-content: center;
}

/* .reg_name {
    max-width:500px;
} */

#form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem 0 2rem; 
    
}

.dashboard-cards-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* align-items: center; */
}

.left-p {
    margin-bottom: 0;
}

/* #data-div {
    display: flex; 
    align-items: center;
} */









